body {
    margin: 0;
}
.main-table {
    display: flex;
}
.container-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
}
.sub-container-table {
    margin-bottom: 400px;
}